:root {
    --color-red: #FF6138;
    --color-yellow: #FFFF9D;
    --color-light-green: #BEEB9F;
    --color-mid-green: #79BD8F;
    --color-dark-green: #00A388;
    --color-black: #000000;
    --color-blackish: #191E1E;
    --color-blue-dark: #273D40;
    --color-light-cameo: #D9B9A7;
    --color-mid-brown: #734E39;
    --color-mid-brown2: #A67E5B;
    --font-size-small: 24px;
}

