.banner {
    width: inherit;
    height: 90vh;
    overflow: hidden;
    background-color: var(--color-light-cameo);
}

.banner header {
    padding: 0;
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto
}

.banner header h1 {
    font-size: 42px;
    color: var(--color-blackish);
    letter-spacing: 39.72px;
    line-height: 95px;
    text-transform: uppercase;
    text-align: center;
    max-width: 85vw;
    padding: 50px;
    font-weight: 700;
    overflow: hidden;
}

.banner header h2 {
    font-weight: 500;
    font-size: 24px;
    color: #001F2E;
    letter-spacing: 16.93px;
    text-transform: uppercase;
    text-align: center;
    max-width: 70vw;
    line-height: 55px;
}

.banner img {
    width: 100%;
    opacity: 0.4;
}
