input {
    flex: 1;
    background-color: #AEC7D6;
    color: black;
    font-family: inherit;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
    border: black solid 1px;
    text-transform: uppercase;
}

input:focus {
    outline-style: solid;
    outline-color: black;
}

textarea {
    width: 100%;
    background-color: #AEC7D6;
    color: black;
    margin: 10px;
    padding: 10px;
    border: black solid 1px;
    text-transform: uppercase;
    font-size: 16px;

}

.contactform {
    padding: 100px;
}

.contactform section {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.contactform section {
    width: 100%;
    display: flex;
    flex-direction: row;
}

input[type="submit"] {
    flex: 5;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
}