header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

.global-containers {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-areas: 'header' 'menu' 'footer';
    grid-gap: 10px;
    background-color: #AEC7D6;
}
header .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: center;
        align-content: center;
}

header .left {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: center;
        align-content: center;
}

header .right {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: center;
        align-content: center;
}

a {
    padding: 10px;
    font-size: 18px;
    color: #001F2E;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.inverted {
    padding: 10px;
    background-color: #001F2E;
    color: #AEC7D6;
}
