.banner {
    width: 100vw;
    height: 90vh;
    overflow: hidden;
}

.banner header {
    padding: 0;
    position: absolute;
    width: 100vw;
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
}

.banner header h1 {
    font-size: 82px;
    color: #001F2E;
    letter-spacing: 39.72px;
    line-height: 95px;
    text-transform: uppercase;
    text-align: center;
    max-width: 60vw;
    padding: 50px;
    font-weight: 200;

}

.banner header h2 {
    font-weight: 500;
    font-size: 24px;
    color: #001F2E;
    letter-spacing: 16.93px;
    text-transform: uppercase;
    text-align: center;
    max-width: 70vw;
    line-height: 55px;
}

.banner img {
    height: 100%;
}
header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

.global-containers {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-areas: 'header' 'menu' 'footer';
    /*grid-gap: 10px;*/
    background-color: #AEC7D6;
}
header .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: center;
        align-content: center;
}

header .left {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: center;
        align-content: center;
}

header .right {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: center;
        align-content: center;
}

a {
    padding: 10px;
    font-size: 18px;
    color: #001F2E;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.inverted {
    padding: 10px;
    background-color: #001F2E;
    color: #AEC7D6;
}
article.post-preview {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: center;
        align-content: center;
    max-height: 150px;
    overflow: hidden;
}

article.post-preview .image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

article.post-preview .image img{
    width: 100%;
}

article.post-preview .text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
