/* Testing autoprefixer */

.autoprefixer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


/* Testing cssnext */

.cssnext {
    background: rgba(255, 165, 0, 0.9);
}

/* Testing precss */

.precss {
@if 3 < 5 {
    background: green;
}
@else {
    background: blue;
}
}