header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

.global-containers {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-areas: 'header' 'menu' 'footer';
    grid-gap: 10px;
    background-color: #AEC7D6;
    padding: 10px;
}
header .left {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}

header .right {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
}

header .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
}

header a {
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 4.05px;
    line-height: 95px;
    text-transform: uppercase;
}
