header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

.global-containers {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-areas: 'header' 'menu' 'footer';
    grid-gap: 10px;
    background-color: #AEC7D6;
    padding: 10px;
}
header .left{
    grid-area: left;
}

header .right{
    grid-area: right;
}


.header-containers {
    display: grid;
    grid-template-areas: 'left' 'right';
    grid-gap: 10px;
}


header a{
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 4.05px;
    line-height: 95px;
    text-transform: uppercase;
}
