:root {
    --color-red: #FF6138;
    --color-yellow: #FFFF9D;
    --color-light-green: #BEEB9F;
    --color-mid-green: #79BD8F;
    --color-dark-green: #00A388;
}
.banner {
    width: 100vw;
    height: 90vh;
    overflow: hidden;
}

.banner header {
    padding: 0;
    position: absolute;
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.banner header h1 {
    font-size: 82px;
    color: #001F2E;
    letter-spacing: 39.72px;
    line-height: 95px;
    text-transform: uppercase;
    text-align: center;
    max-width: 60vw;
    padding: 50px;
    font-weight: 200;

}

.banner header h2 {
    font-weight: 500;
    font-size: 24px;
    color: #001F2E;
    letter-spacing: 16.93px;
    text-transform: uppercase;
    text-align: center;
    max-width: 70vw;
    line-height: 55px;
}

.banner img {
    min-width: 110%;
    min-height: 110%;
}
header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-rows: 48px 80vh 20rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "header header header header header" "main main main main main" "footer footer footer footer footer";
    /*grid-gap: 10px;*/
    background-color: #AEC7D6;
}
input {
    flex: 1;
    background-color: #AEC7D6;
    color: black;
    font-family: inherit;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
    border: black solid 1px;
    text-transform: uppercase;
}

textarea {
    width: 100%;
    background-color: #AEC7D6;
    color: black;
    margin: 10px;
    padding: 10px;
    border: black solid 1px;
    text-transform: uppercase;
    font-size: 16px;

}

.contactform{
    padding: 100px;
}

.contactform section {
     width: 100%;
     display: flex;
     flex-direction: row;
 }

.contactform section {
    width: 100%;
    display: flex;
    flex-direction: row;
}

input[type="submit"]{
    flex: 5;
}
footer.site-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}

header.site-footer {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
header.site-header {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}

header.site-header .left {
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}

header.site-header .left a {
    font-size: 18px;
    color: #001F2E;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

header.site-header .left .logo {
    height: inherit;
    width: fit-content;
    display: flex;
}

.inverted {
    background-color: #001F2E;
    color: #AEC7D6;
}

header.site-header .left .logo div {
    height: 100%;
    text-align: center;
    padding: 15px;
}

header.site-header .right {
    height: 100%;
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}

header.site-header .right a {
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    color: #001F2E;
    letter-spacing: 4px;
    height: 100%;
    text-align: center;
    padding: 15px;
}
article.post-preview {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    max-height: 500px;
    overflow: hidden;
}

article.post-preview.right {
    flex-direction: row-reverse;
}

article.post-preview img {
    position: absolute;
    overflow: hidden;
    max-width: 110%;
}

article.post-preview .text-wrapper {
    z-index: 1;
    background-color: #AEC7D6;
    width: 50%;
    opacity: 0.8;
    display: flex;
    align-items: center;
}

article.post-preview .text {
    margin: 20px;
    padding: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    height: inherit;
}

article.post-preview .text h2 {
    font-size: 24px;
    padding-bottom: 10px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #001F2E;
    font-family: 'Montserrat', sans-serif;
}
