:root {
    --color-red: #FF6138;
    --color-yellow: #FFFF9D;
    --color-light-green: #BEEB9F;
    --color-mid-green: #79BD8F;
    --color-dark-green: #00A388;
}
.banner {
    width: 100vw;
    height: 90vh;
    overflow: hidden;
}

.banner header {
    padding: 0;
    position: absolute;
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.banner header h1 {
    font-size: 82px;
    color: #001F2E;
    letter-spacing: 39.72px;
    line-height: 95px;
    text-transform: uppercase;
    text-align: center;
    max-width: 60vw;
    padding: 50px;
    font-weight: 200;

}

.banner header h2 {
    font-weight: 500;
    font-size: 24px;
    color: #001F2E;
    letter-spacing: 16.93px;
    text-transform: uppercase;
    text-align: center;
    max-width: 70vw;
    line-height: 55px;
}

.banner img {
    width: 100vw;
}
header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

.global-containers {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-areas: 'header' 'menu' 'footer';
    /*grid-gap: 10px;*/
    background-color: #AEC7D6;
}
header .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}

header .left {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}

header .right {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}

a {
    padding: 10px;
    font-size: 18px;
    color: #001F2E;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.inverted {
    padding: 10px;
    background-color: #001F2E;
    color: #AEC7D6;
}
article.post-preview {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    max-height: 150px;
    overflow: hidden;
}

article.post-preview .image {
    flex: 1;
}

article.post-preview .image img{
    width: 100%;
}

article.post-preview .text {
    flex: 1;
}
