{{ define "main"}}

<section>

    {{ partial "banner.html" . }}

    {{ range .Pages }}
    <section>
        <a href="{{ .URL }}" class="image">
            <!--img src="{{ .Site.Params.baseURL }}/img/{{ .Section }}/{{ .Params.image }}" alt="" data-position="center center" /-->
        </a>
        <div>
            <header class="major">
                <h3>{{ .Title }}</h3>
            </header>
            <p>{{ .Description }}</p>
            <div>
                <a href="{{ .URL }}" class="button">Link</a>
            </div>

        </div>
    </section>
    {{ end }}

</section>

{{end}}
