.banner {
    width: inherit;
    height: 90vh;
    overflow: hidden;
}

.banner header {
    padding: 0;
    position: absolute;
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.banner header h1 {
    font-size: 35px;
    color: #ffffff;
    letter-spacing: 39.72px;
    line-height: 95px;
    text-transform: uppercase;
    text-align: center;
    max-width: 85vw;
    padding: 50px;
    font-weight: 200;
    overflow: hidden;
}

.banner header h2 {
    font-weight: 500;
    font-size: 24px;
    color: #001F2E;
    letter-spacing: 16.93px;
    text-transform: uppercase;
    text-align: center;
    max-width: 70vw;
    line-height: 55px;
}

.banner img {
    width:100%;
}
