header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-rows: 38px 80vh 20rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "header header header header header" "main main main main main" "footer footer footer footer footer";
    /*grid-gap: 10px;*/
    background-color: #AEC7D6;
}
