header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

.global-containers {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-areas: 'header' 'menu' 'footer';
    grid-gap: 10px;
    background-color: #AEC7D6;
    padding: 10px;
}
