header.site-header {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}

header.site-header .left {
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}

header.site-header .left a {
    font-size: 18px;
    color: #001F2E;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

header.site-header .left .logo {
    height: inherit;
    width: fit-content;
    display: flex;
}

.inverted {
    background-color: #001F2E;
    color: #AEC7D6;
}

header.site-header .left .logo div {
    height: 18px;
    text-align: center;
    padding: 15px;
}

header.site-header .right {
    height: 100%;
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}

header.site-header .right a {
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    color: #001F2E;
    letter-spacing: 4px;
    height: 100%;
    text-align: center;
    padding: 15px;
}


