header .left {
    flex: 1 1 auto;
}

header .right {
    flex: 0 1 auto;
}

header .header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}

header a {
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 4.05px;
    line-height: 95px;
    text-transform: uppercase;
}
