header .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}

header .left {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}

header .right {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}

a {
    padding: 10px;
    font-size: 18px;
    color: #001F2E;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
}

.inverted {
    padding: 10px;
    background-color: #001F2E;
    color: #AEC7D6;
}
