header .left{
    grid-area: left;
}

header .right{
    grid-area: right;
}


.header-containers {
    display: grid;
    grid-template-areas: 'left' 'right';
    grid-gap: 10px;
}


header a{
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 4.05px;
    line-height: 95px;
    text-transform: uppercase;
}
