article.post-preview {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    max-height: 500px;
    overflow: hidden;
}

article.post-preview .image {
    overflow: hidden;
}

article.post-preview .text {
    position: absolute;
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 40px;
    font-size: 20px;
    background-color: #AEC7D6;
    font-family: 'Montserrat', sans-serif;
    height: inherit;
    opacity: 0.8;
}

article.post-preview .text h2 {
    font-size: 24px;
    padding-bottom: 10px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #001F2E;
    font-family: 'Montserrat', sans-serif;
}

