article.post-preview {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    max-height: 500px;
    overflow: hidden;
}

article.post-preview img {
    position: absolute;
    overflow: hidden;
    max-width: 110%;
}

article.post-preview .text-wrapper {
    z-index: 1;
    background-color: #AEC7D6;
    width: 50%;
    opacity: 0.8;

}

article.post-preview .text {
    margin: 20px;
    padding: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    height: inherit;
}

article.post-preview .text h2 {
    font-size: 24px;
    padding-bottom: 10px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #001F2E;
    font-family: 'Montserrat', sans-serif;
}

