article.post-preview {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-height: 300px;
    overflow: hidden;
}

article.post-preview img {
    flex: 1;
    overflow: hidden;
}

article.post-preview .text {
    flex: 1;
}
