{{ "<!-- Banner -->" | safeHTML}}
<link rel="stylesheet" href="{{ "css/banner.css" | absURL}}"/>
{{$banner := .Site.Params.Banner}}
{{ if $banner.show }}
<section class="banner">
    <header>
        {{ with $banner.abovetitle }}
        <h2>{{.}}</h2>
        {{else}}
        <p>Please define the Banner Subtitle</p>
        {{end}}
        {{ with $banner.title }}
        <h1>{{.}}</h1>
        {{else}}
        <h1>Please define a Banner Title</h1>
        {{end}}
        {{ with $banner.subtitle }}
        <h2>{{.}}</h2>
        {{else}}
        <p>Please define the Banner Subtitle</p>
        {{end}}
    </header>
    <!--ul class="actions">
        <li>
            {{ with $banner.buttonText }}
            <a href="{{$banner.link}}" class="button next scrolly">{{.}}</a>
            {{else}}
            <a href="#" class="button next scrolly">Please define the Banner Button Text</a>
            {{end}}
        </li>
            .Resize "1500x q1"

    </ul-->

    {{ with $banner.backgroundImage }}
    <img src="{{$banner.backgroundImage}}" alt=""/>
    {{end}}
</section>
{{end}}
