{{ "<!-- Banner -->" | safeHTML}}
<link rel="stylesheet" href="{{ "css4/banner.css" | absURL}}"/>
{{$banner := .Site.Params.Banner}}
{{ if $banner.show }}
<section class="banner">
    <header>
        {{ with $banner.abovetitle }}
        <h2>{{.}}</h2>
        {{else}}
        <p>Please define the Banner Subtitle</p>
        {{end}}
        {{ with $banner.title }}
        <h1>{{.}}</h1>
        {{else}}
        <h1>Please define a Banner Title</h1>
        {{end}}
        {{ with $banner.subtitle }}
        <h2>{{.}}</h2>
        {{else}}
        <p>Please define the Banner Subtitle</p>
        {{end}}
    </header>
    <!--ul class="actions">
        <li>
            {{ with $banner.buttonText }}
            <a href="{{$banner.link}}" class="button next scrolly">{{.}}</a>
            {{else}}
            <a href="#" class="button next scrolly">Please define the Banner Button Text</a>
            {{end}}
        </li>
    </ul-->
    {{if isset $banner "image" }}
    {{ $image := $banner.background.Resize "1500x q1" }}
    <img src="{{$image.RelPermalink}}" alt=""/>
    {{else}}

    {{ $imageUrl := path.Join .Site.Params.baseURL "/img/pawel-czerwinski-1343790-unsplash.jpg"}}
    <img src="{{$imageUrl}}" alt=""/>
    {{end}}
    {{with $banner.background}}

    {{end}}
</section>
{{end}}
