{{ "<!-- Contactform -->" | safeHTML}}
<link rel="stylesheet" type="text/css"  href="{{ "css/contactform.css" | absURL}}"/>
<section class="contactform"  id="contact">
    <form method="post" action="https://formspree.io/{{ .Site.Params.Contact.Email.email}}">
        <section>
            <input type="text" placeholder="name" name="name"/>
            <input type="text" placeholder="email" name="email"/>
        </section>
        <section>
            <textarea name="message" placeholder="{{ .Site.Params.Contact.messagePlaceHolder }}" rows="6"></textarea>
        </section>
        <section>
            <input type="reset" value="{{ .Site.Params.Contact.buttonClear }}"/>
            <input type="submit" value="{{ .Site.Params.Contact.buttonSend }}"/>
        </section>
    </form>
</section>
