{{ "<!-- Header -->" | safeHTML }}
<article class="post-preview">
            <span class="image">
                <img src="https://via.placeholder.com/150" alt=""/>
            </span>
    <header class="major">
        <h3>
            {{ with .Resources.ByType "image" }}
            <div class="Image">
                {{ range . }}
                <img src="{{ .RelPermalink }}">
                {{ end }}
            </div>
            {{ end }}
            {{.}}
            {{.Resources}}
            <a href="{{ .URL }}" class="link">
                {{ .Title }}
            </a>
        </h3>
        <p>{{ .Description }}</p>
    </header>
</article>
