{{ "<!-- Header -->" | safeHTML }}
<article class="post-preview">
    <span class="image">
        <img src="https://via.placeholder.com/150" alt=""/>
    </span>
    <div class="text">
        <h2>
            {{ with .Resources.ByType "image" }}
            <div class="Image">
                {{ range . }}
                <img src="{{ .RelPermalink }}">
                {{ end }}
            </div>
            {{ end }}
            <a href="{{ .URL }}" class="link">
                {{ .Title }}
            </a>
        </h2>
        <p>{{ .Description }}</p>
    </div>
</article>
